node_modules/
dist/
*.local
.DS_Store

# Android generated
android/app/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/build/
android/capacitor-android/build/

# APKs to keep only the latest ones
sunubus-v2*.apk
sunubus-v3*.apk
sunubus-v4*.apk
DAKAR-DEM-DIKK-V5.1.apk

# Scratch
scratch/
